body {
     font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif
    }
h1, h2 {
    color: turquoise
}
.evenrow { 
    background-color:rgb(206, 231, 229)
}

h1 { 
    font-size: 1.7 em
}

h2 {
     font-size: 1.2 em
}